@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .drag-over {
    @apply outline-dashed outline-green-500;
  }

  .draggable-block {
    @apply flex h-14 w-14 items-center justify-center border-2 border-black p-3 p-3
    text-xl text-black;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
